:root {
  /*colores*/
  --headerandfooter: rgb(51, 80, 245);
  --powder-blue: #8eb3f8;
  --honeydew: #fff;
}

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

input,
select {
  height: 2.7rem;
  margin-bottom: 10px;
  text-align-last: center;
  font-size: 1.7rem;
  border-radius: 10px;
  outline: none;
}

select {
  margin: 50px 25px 25px 25px;
  background: linear-gradient(180deg, #65bce8 0%, #306485 100%);
}

.squad {
  background: linear-gradient(180deg, #7dccf3 0%, #448cb9 100%);
  width: 180px;
  margin-top: 40px;
}

select:hover {
  cursor: pointer;
}

select:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
/* ----- header ----- */
header {
  position: relative;
  align-items: center;
  height: 70px;
  background-color: var(--headerandfooter);
  padding: 10px;
}

div#header-opcion {
  display: flex;
  justify-content: space-between;
}

.marcador-seccion {
  cursor: pointer;
  background-color: var(--powder-blue);
  border-radius: 30%;
}

header h1 {
  color: var(--honeydew);
  font-size: 1.9rem;
  width: 100%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin-top: 10px;
}

.header-principal--text {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  margin: 20px;
  color: black;
  font-weight: bold;
}

.header-menu img:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #65bce8 0%, #306485 100%);
  transition: all 0.3s;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

main {
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
/* ----- pagina 1 ----- */

.div-main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slide-rotate-hor-t-bck {
  animation: slide-rotate-hor-t-bck 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}
@keyframes slide-rotate-hor-t-bck {
  0% {
    transform: translateY(0) translateZ(0) rotateX(0deg);
    transform-origin: top center;
  }
  100% {
    transform: translateY(-150px) translateZ(-230px) rotateX(-90deg);
    transform-origin: top center;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.div-main p {
  font-size: 1.4rem;
  text-align: center;
}

.tabla {
  height: auto;
  width: 100%;
}

.form-container--options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 250px;
  height: 200px;
  background-color: var(--powder-blue);
  border: 0.6px solid var(--honeydew);
  border-radius: 10px;
}

.form-container--legajo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.button {
  display: block;
  margin: 0 auto;
  background-color: white;
  transition: all 0.3s;
  width: 100px;
  height: 40px;
  font-size: 1.8rem;
  outline: none;
  border-radius: 10px;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.6);
}

/* --------- pagina 2 ---------- */

table {
  border: 1px solid rgb(200, 200, 200);
  border-collapse: collapse;
}

tr {
  text-align: center;
}

tr:nth-child(odd) {
  background: rgb(225, 225, 225);
}

td {
  border: 1px solid rgb(160, 160, 160);
  padding: 0.5rem;
}

table tr:hover {
  background: rgb(207, 237, 252);
}

.table-container {
  display: inherit;
  justify-content: center;
  flex-direction: column;
  margin: 5px 5px;
  height: 100%;
  width: 90%;
}

.tabla {
  width: 100%;
}
.text-tabla {
  font-size: 1.2rem;
}
.titulo-mes {
  background-color: #6498f8;
  position: sticky;
  top: -1px;
  font-weight: bold;
  font-size: 1.3rem;
}
.perseguir {
  background-color: var(--powder-blue);
  position: sticky;
  top: 20px;
}

/*  Estilos para que las barras de desplazamiento horizontal se vean en los dispositivos IOS. */

.table-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  border: 3px solid #fff;
}

.resaltar-turno {
  color: rgb(248, 2, 2);
  font-weight: bold;
}
.resaltar-hoy:nth-child(odd) {
  background-color: #6498f8;
}
.resaltar-hoy:hover:nth-child(odd) {
  background-color: #76c1ff;
}
.user-page p,
p span {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 10px;
  color: var(--headerandfooter);
}

.user-page p span {
  color: black;
}

.second-p {
  margin-top: 15px;
}

/* ------ pagina 3 -------- */
.search-calendary--form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.search-calendary--form h2,
.calendary-form h2 {
  font-size: 1.9rem;
  text-align: center;
  color: var(--prussian-blue);
}

.month-selection,
.year-selection {
  margin-bottom: 20px;
  text-align: center;
  text-align-last: center;
  outline: none;
}

.month-selection {
  width: 13em;
}
.month-selection:hover,
.year-selection:hover {
  cursor: pointer;
  background-color: var(--powder-blue);
}

.options button {
  margin-top: 20px;
}
/* ----------- pagina 4 -------- */
#page-4,
#page-2 {
  justify-content: start;
  height: auto;
}

/* -------- footer -------- */
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: var(--headerandfooter);
}

.contact {
  color: white;
  font-weight: bold;
}

.contact:hover {
  cursor: pointer;
}

footer p {
  color: var(--honeydew);
  font-size: 1.1rem;
  padding-left: 5px;
}
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: rgb(0, 0, 0);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ocultar {
  display: none;
}
