:root {
  /*colores*/
  --prussian-blue: #1d3557ff;
  --headerandfooter: #457b9dff;
  --powder-blue: #a8dadcff;
  --honeydew: #f1faeeff;
}

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
/* ----- header ----- */
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-bottom: 10px;
  background-color: var(--headerandfooter);
  padding: 10px;
}

header img {
  width: 40px;
  height: 43px;
}
header img:hover {
  cursor: pointer;
  background-color: rgb(94, 165, 209);
}

header h1 {
  color: var(--honeydew);
  font-size: 1.8rem;
}

header button {
  width: 45px;
  height: 45px;
  margin: 0;
  outline: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
button:hover {
  cursor: pointer;
  background-color: rgb(94, 165, 209);
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

main {
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.div-main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* ----- pagina 1 ----- */
.ocultar {
  display: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.div-main p {
  font-size: 1.4rem;
  text-align: center;
}

.tabla {
  height: auto;
  width: 100%;
}

div span {
  color: var(--prussian-blue);
  font-size: 1.4rem;
}
.form-container--legajo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container--text {
  display: inherit;
  text-align: center;
  margin-bottom: 10px;
  font-size: 2.6rem;
  font-weight: 1rem;
}

.form-container--date {
  display: flex;
  width: 100px;
  height: 3rem;
  outline: none;
  text-align: center;
  border: 0.6px solid var(--honeydew);
  border-radius: 5px;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.form-container button {
  margin-top: 15px;
}

button {
  margin: 15px;
  width: 100px;
  font-size: 2rem;
  outline: none;
  border: 0.2px solid var(--powder-blue);
  border-radius: 5px;
  background-color: var(--powder-blue);
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.6);
}

table {
  border: 1px solid rgb(200, 200, 200);
  border-collapse: collapse;
  font-size: 0.9rem;
  width: 100%;
}

tr {
  text-align: center;
}

tr:nth-child(odd) {
  background: rgb(225, 225, 225);
}

th {
  background: rgb(98, 121, 163);
  border: 1px solid rgb(160, 160, 160);
  color: rgb(255, 255, 255);
  padding: 0.5rem;
}

td {
  border: 1px solid rgb(160, 160, 160);
  padding: 0.5rem;
}

table tr:hover {
  background: rgb(255, 235, 185);
}

.table-container {
  margin: 20px 5px 1rem;
  width: 90%;
}

.text-tabla {
  font-size: 10px;
}

/*  Estilos para que las barras de desplazamiento horizontal se vean en los dispositivos IOS. */

.table-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  border: 3px solid #fff;
}

.resaltar-turno {
  background-color: #a8dadc;
}
.resaltar-turno:hover {
  background-color: #86afb1;
}
/* --------- pagina 2 ---------- */
.user-page p,
span {
  font-size: 2.4rem;
  font-weight: 1rem;
  text-align: center;
  color: var(--prussian-blue);
}

.user-page button {
  margin-top: 120px;
}

/* ------ pagina 3 -------- */
.search-calendary--form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-calendary--form label {
  margin-bottom: 20px;
}

.search-calendary--form span,
input {
  vertical-align: middle;
}
.search-calendary--form button {
  margin-top: 80px;
}
/* ----------- pagina 4 -------- */
#page-4,
#page-2 {
  justify-content: start;
}

/* -------- footer -------- */
footer {
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: var(--headerandfooter);
}

footer p {
  color: var(--honeydew);
  font-size: 1.2rem;
}
